<div class="span12">
  <div class="page-header">
    <h1>
      <a href="/" class="logo"><%= name_of_site %></a><br>
      
      <small id="tagline">
        I am my beloved's, and my beloved<span class="rotating keep"><%= Tagline.random %></span>
        <i class="icon-refresh refreshTagline"></i>
      </small>
    </h1>
  </div>

  <p>Enter some <strong class="commaSeparated hasPopover">comma-separated</strong> phrases to search:</p>

  <div class="form-container">
    <%= form_tag ngram_calculator_path, :method => :get, :remote => true, :id => 'ngramForm' do %>
      <div class="searchQuery span7">
        <%= search_field_tag :q, params[:q], :maxlength => 10_000, :tabindex => 1 %>
      </div>
      
      <div class="smoothingInput">
        <label for="s" class="smoothing">Smoothing <span class="hasPopover">(?)</span>:</label>
        <%= number_field_tag :s, params[:s] || 1, :min => 0, :max => 5, :tabindex => 4 %>
      </div>
      
      <div class="clearfix"></div>

      <div class="submitButtons span9">
        <%= submit_tag "Search NYT Weddings", :id => "ngramSubmit", :class => "btn btn-info btn-small", :tabindex => 2 %>
        
        <button id="randomSearch" class="btn btn-small" tabindex="3">
          <i class="icon-refresh"></i>
          Just show me a good search!
        </button>
      </div>

      <%= hidden_field_tag :blank, params[:blank] %>
    <% end %>
  </div>
  
  <div class="socialLinks">
    <div id="tweetButton"></div>
    <!-- <div class="fb-like" data-href="http://www.weddingcrunchers.com" data-width="90" data-layout="button_count" data-show-faces="false" data-send="false"></div> -->
    <div id="exportGraph" class="btn btn-small"><i class="icon-download"></i>Save Graph</div>
  </div>
  
  <div class="clearfix"></div>
  
  <div id="ngramContainer"></div>

  <div id="articleSummaries"></div>
</div>