<div class="span12">
  <div class="page-header">
    <h1>
      <a href="/" class="logo"><%= name_of_site %></a><br>
      
      <small id="tagline">
        I am my beloved's, and my beloved<span class="rotating keep"><%= Tagline.random %></span>
        <i class="icon-refresh refreshTagline"></i>
      </small>
    </h1>
  </div>

  <p>Enter some <strong class="caseSensitive hasPopover">case-sensitive</strong> comma-separated phrases to search:</p>

  <%= form_tag ngram_calculator_path, :method => :get, :remote => true, :id => 'ngramForm', :class => "form-search" do %>
    <div class="searchParams">
      <%= search_field_tag :q, params[:q], :maxlength => 10_000, :tabindex => 1 %>
      <span class="smoothing">Smoothing <span class="hasPopover">(?)</span>:</span>
      <%= number_field_tag :s, params[:s] || 1, :min => 0, :max => 5, :tabindex => 4 %>
    </div>
    <div class="submitButtons">
      <%= submit_tag "Search NYT Weddings & Celebrations", :id => "ngramSubmit", :class => "btn btn-info", :tabindex => 2 %>
      <button id="randomSearch" class="btn" tabindex="3">Just tell me what to search for!</span>
    </div>
    
    <%= hidden_field_tag :blank, params[:blank] %>
  <% end %>

  <div id="ngramContainer"></div>

  <div id="articleSummaries"></div>
</div>