<div class="span12">
  <div class="page-header">
    <h1>
      <a href="/" class="logo"><%= name_of_site %></a><br>
      
      <small id="tagline">
        I am my beloved's, and my beloved<span class="rotating keep"><%= Tagline.random %></span>
        <i class="icon-refresh refreshTagline"></i>
      </small>
    </h1>
    
    <div class="moreInfo">
      Read the full writeup on <%= link_to "Genius", writeup_url, :target => "_blank" %>
       | <%= link_to "About", "/about" %>
    </div>
  </div>
  
  <p>
    Enter some <span class="hasPopover comma-separated">comma-separated</span> phrases to search:
    <a id="randomSearch" href="/" tabindex="1">(or just show me a good search! <i class="icon-refresh"></i>)</a>
  </p>

  <div class="form-container">
    <%= form_tag ngram_calculator_path, :method => :get, :remote => true, :id => 'ngramForm' do %>
      <div class="searchQuery">
        <div class="input-append">
          <%= search_field_tag :q, params[:q], :maxlength => 10_000, :tabindex => 2, :class => "collapsed" %>
          <%= submit_tag "Search New York Times Weddings!", :id => "ngramSubmit", :class => "btn", :tabindex => 3 %>
        </div>
      </div>
      
      <div class="smoothingInput">
        <label for="s" class="smoothing">Smoothing <span class="hasPopover">(?)</span>:</label>
        <%= number_field_tag :s, params[:s] || 1, :min => 0, :max => 5, :tabindex => 4 %>
      </div>
      
      <div class="socialLinks">
        <span id="tweetButton"></span>
        <div class="fb-like" data-href="http://www.weddingcrunchers.com" data-width="90" data-layout="button_count" data-show-faces="false" data-send="false"></div>
        <span id="exportGraph" class="btn btn-mini"><i class="icon-download"></i>Save Graph</span>
      </div>

      <%= hidden_field_tag :blank, params[:blank] %>
    <% end %>
  </div>
  
  <div class="clearfix"></div>
  
  <div id="ngramContainer"></div>

  <div id="articleSummaries"></div>
</div>